/* use flexbox for sections placing */
.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.main{
    flex: 2 1 auto;
    margin-right: 40px;
}
.side{
    flex: 1 1 auto;
}

.legend,.detail, .options{
    width: 250px;
}
/*card style*/
.graph,.legend,.options,.detail{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}